* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.navbar-bg {
  background-color: #e6981b;
}

#hamburguer-btn {
  border: 0;
  color: #e6981b;
}

.hamburguer-icon {
  height: 30px;
}

.medium-logo {
  height: 60px;
}

@media (max-width: 990px) {
  .medium-logo, .cart-logo {
    display: none;
  }
  .cart-logo-2 {
    height: 40px;
  }
}

.small-logo {
  height: 40px;
}

@media (min-width: 991px) {
  .small-logo, .cart-logo-2 {
    display: none;
  }
}

#item-nav {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  padding-left: 3.6vw;
  padding-right: 3.6vw;
}

.cart-logo {
  width: 90%;
}

/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME */

.home-background {
  position: absolute;
  height: 103vw;
  width: 100%;
  background-image: url("./img/home-background-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.home-logo {
  position: relative;
  text-align: center;
  width: 35%;
  margin-top: 7%;
}

.carousel-container {
  padding-top: 9%;
}

.carousel-img {
  width: 70%;
}

.arrow {
  height: 10%;
  margin-top: 150%;

}
.shop-now {
  color: #FFF;
  font-size: 5vw;
}

.shop-now-shadow {
  width: 30%;
}

#row-correction {
  margin-right: 0;
}

#icons-container, #icons-container-2 {
  padding-top: 10vw;
}

.icon-img {
  padding-top: 10%;
  width: 40%;
}

.wisconsin-img {
  width: 13%;
  height: 100%;
}

.icon-text {
  color: #FFF;
  text-align: center;
  width: 40%;
  font-size: 90%;
  margin-top: 3%;
}

.wisconsin-img-2 {
  width: 25vw;
}

@media (max-width: 990px) {
  #icons-container {
    display: none !important;
  }
}

@media (min-width: 991px) {
  #icons-container-2 {
    display: none !important;
  }
}

.icon-img-2 {
  height: 12vw;
}

.icon-text-2 {
  color: #FFF;
  text-align: center;
  width: 10vw;
  font-size: 2vw;
}

.margin-top {
  padding-top: 4vw;
}

.gluten {
  padding-right: 20vw;
}

.pieces {
  padding-left: 20vw;
  
}

.simple {
  padding-top: 5vw;
  padding-left: 8vw;
}

.vegetarian {
  padding-top: 5vw;
  padding-right: 8vw;
}

.flickity-img {
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
}

.flickity-container {
  overflow: hidden;
  padding-top: 4vw;
}

.text-1, .text-2, .text-3 {
  font-size: 1.6vw;
  width: 10%;
  text-align: center;
  color: #FFF;
  margin-top: 2vw;
  padding-left: 3%;
  padding-right: 3%;
}

.home-background-2 {
  background-color: #484870;
  height: auto;
  margin-top: 94%;
}

@media (max-width: 990px) {
  .flickity-img {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .carousel-text {
    display: inline;
  }
  .text-1, .text-2, .text-3 {
    display: grid;
    flex: auto;
    width: 40%;
    font-size: 2.7vw;
    margin: auto;
    margin-bottom: 5%;
  }
  .text-3 {
    margin-bottom: 0;
  }
  .text-4 {
    display: none;
  }
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.home-background-3 {
  height: 500px;
  background-image: url("./img/home-background-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -1px;
  padding-top: 25%;
  padding-bottom: 30%;
}

.footer-text {
  color: #D89731;
  padding-left: 10%;
  padding-right: 14%;
  font-size: 1.5vw;
}

.icon {
  padding-right: 5vw;
  font-size: 3vw;
}

.footer-form {
  padding-left: 10%;
  padding-right: 10%;
}

.form-logo-orange {
  height: 4vw;
  margin-bottom: 5%;
}

.form-input {
  background-color: #D89731;
  border-radius: 15px;
  border: 0;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin-top: 1% !important;
  color: #FFF;
}

.form-input::placeholder {
  color: #FFF;
}

.form-textarea {
  height: 150px;
}

@media (max-width: 990px) {
  .footer-text {
    font-size: 3.7vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    padding-top: 11%;
  }
  .footer-form {
    padding-left: 14%;
    padding-right: 14%;
    font-size: 3vw;
  }
  .form-logo-orange {
    height: 9vw;
  }
  .icon {
    font-size: 5vw;
  }
}

.form-submit {
  color: #FFF;
  background-color: #D89731;
  border: 0;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}